@import "../../vars.css";


.container {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1.2rem 1.5rem;
    background-image: 
    linear-gradient(
        135deg,
        rgba(61, 57, 171, 0.2) 20%,
        rgba(61, 57, 171, 0.4) 70%
    );
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    width: 22rem;
    height: 24rem;
    text-decoration: none;
    color: inherit; 
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.container:hover {
    cursor: pointer;
    transform: scale(1.03); 
}

.image {
    width: auto;
    max-height: 100%;
    object-fit: cover;
    object-position: center center;
    display: block;
    margin-bottom: 1rem;
    border-radius: 0.6rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
}

.title a {
    color: var(--color-text);
    text-decoration: none;
    transition: text-shadow 0.2s ease;
}

.description {
    margin-top: 4px;
    font-size: 1.25rem;
    font-weight: 400;
}

@media screen and (max-width: 830px) {
    .container {
        text-align: left;
        width: auto;
        height: auto;
        max-width: 300px;
    }

    .image {
        height: 240px;
        margin-bottom: 16px;
    }

    .title {
        font-size: 1rem;
    }

    .description {
        font-size: 0.75rem;
    }
}
