:root {
    /* Colours */
    --color-text: #f6f5f7;
    --color-primary: #305d95;
    --color-secondary: #9ecef0;
    --color-accent: #c6d3e9;
    --color-bg: #c6d3e9;
    --color-white: #ffffff;

    /* Fonts */
    --font-robot: "Roboto";
}