@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    z-index: 1;
    margin: 96px 12% 48px 12%;
}

.title {
    color: var(--color-text);
    font-family: var(--font-header);
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    transition: text-shadow 0.2s ease;
}

.title:hover {
    text-shadow:
      0 0 5px var(--color-secondary),
      0 0 10px var(--color-secondary),
      0 0 15px var(--color-secondary);
}

.linksList {
    display: flex;
    gap: 36px;
    list-style: none;
    justify-content: center;  
    align-items: center;
}

.linkItem {
    font-size: 40px;
    color: var(--color-text);
    text-decoration: none;
    transition: font-size 0.2s ease;
}
.linkItem:hover {
    font-size: 48px;
}

@media screen and (max-width: 830px) {
    .container {
        justify-content: center;
        margin: 48px 8% 18px 8%;
    }
    .title {
        font-size: 36px;
    }
    .linksList {
        display: flex;
        gap: 24px;
        list-style: none;
    }
    .linkItem:hover {
        font-size: inherit;
    }
}

@media (min-width: 1024px) {
    .container {
        margin: 0px 16% 48px 16%;
    }
}
