@import "../../vars.css";

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    z-index: 2;
    margin: 0 10%;
}

.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
}

.menuBtn {
    display: none;
  }

.menu {
    display: flex;
}

.menuItems {
    display: flex;
    gap: 48px;
    list-style: none;
}

.menuItems a {
    font-size: 24px;
    color: var(--color-text);
    text-decoration: none;
}

.menuItems a:hover {
    color: var(--color-secondary);
}

@media screen and (max-width: 830px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        z-index: 3;
    }

    .menuBtn {
        display: block;
        cursor: pointer;
        width: 38px;
        height: 38px;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        border-radius: 10px;
        background: rgb(25, 55, 109);
        padding: 12px 18px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }

    .menuOpen {
        display: flex;
        z-index: 1;
    }
}