@import "./vars.css";

.App {
    position: relative;
    background-color: var(--color-bg);
    width: 100%;
    min-height: 100dvh;
    padding: 16px 0;
    overflow: hidden;
    transition: background-color 0.3s ease;
}
