:root {
    /* Colours */
    --color-text: rgb(255, 255, 255);
    --color-primary: rgb(57, 78, 171);
    --color-secondary: rgb(158, 206, 240);
    --color-accent: rgb(61, 57, 171);
    --color-bg: rgb(200, 212, 234);

    /* Fonts */
    --font-robot: "Roboto";
}